<launch>
	<node name="dolly_base_node" pkg="dolly_base" type="dolly_base_node" output="screen" >
		<!-- <param name="control_frequency" type="int" value="100" />
		<param name="max_wheel_angular_speed" type="double" value="18.0" /> -->
	</node>

	<node name="stm_topic_converter" pkg="dolly_base" type="stm_topic_converter_node" output="screen" >
		<!-- <param name="control_frequency" type="int" value="100" />
		<param name="max_wheel_angular_speed" type="double" value="18.0" /> -->
	</node>

	<!--<node name="hardware_emulator_node" pkg="dolly_base" type="hardware_emulator_node" output="screen" /> -->

	<node name="pid_controller" pkg="pid" ns="/dolly/left_wheel" type="controller" >
		<param name="Kp" value="5.0" />
		<param name="Ki" value="0.0" />
		<param name="Kd" value="0.1" />
		<param name="upper_limit" value="10" />
		<param name="lower_limit" value="-10" />
		<param name="windup_limit" value="10" />
		<param name="max_loop_frequency" value="100.0" />
		<param name="min_loop_frequency" value="100.0" />
		<remap from="setpoint" to="/dolly/left_wheel/cmd_vel64" />
		<remap from="state" to="/dolly/left_wheel/cur_vel" />
		<remap from="control_effort" to="/dolly/left_wheel/pwd" />
    </node>

	<node name="pid_controller" pkg="pid" ns="/dolly/right_wheel" type="controller" >
		<param name="Kp" value="5.0" />
		<param name="Ki" value="0.0" />
		<param name="Kd" value="0.1" />
		<param name="upper_limit" value="10" />
		<param name="lower_limit" value="-10" />
		<param name="windup_limit" value="10" />
		<param name="max_loop_frequency" value="100.0" />
		<param name="min_loop_frequency" value="100.0" />
		<remap from="setpoint" to="/dolly/right_wheel/cmd_vel64" />
		<remap from="state" to="/dolly/right_wheel/cur_vel" />
		<remap from="control_effort" to="/dolly/right_wheel/pwd" />
    </node>

	<!-- <node
		name="rqt_reconfigure"
		pkg="rqt_reconfigure"
		type="rqt_reconfigure" /> -->

	<!-- <node
		name="rqt_plot_left_wheel"
		pkg="rqt_plot"
		type="rqt_plot"
		args="/dolly/left_wheel/cmd_vel /dolly/left_wheel/cur_vel /dolly/left_wheel/pwd" />
	<node
		name="rqt_plot_right_wheel"
		pkg="rqt_plot"
		type="rqt_plot"
		args="/dolly/right_wheel/cmd_vel /dolly/right_wheel/cur_vel /dolly/right_wheel/pwd" /> -->
</launch>
