<launch>
  <!-- <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz"/> -->

  <param
    name="robot_description"
    textfile="$(find dolly_description)/urdf/dolly.urdf" />
  <!-- <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" /> -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="robot_description" textfile="$(find dolly_description)/urdf/dolly.urdf" />
  </node> -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find dolly_description)/rviz/description_config.rviz" />
  <!-- <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(arg rvizconfig)" /> -->
</launch>